NODE_NAME=My-Server-1
REMNAWAVE_URL=http://localhost:3000
REMNAWAVE_TOKEN=your_api_token_here
TELEGRAM_BOT_TOKEN=your_bot_token_here
ADMIN_IDS=123456789,987654321
# Logging Config
# Bot Mode: 'polling' (Master) or 'notify-only' (Worker)
BOT_MODE=polling
LOG_SOURCE=container
TARGET_CONTAINER=remnanode
# For 'remnanode', logs are hidden in this internal file:
DOCKER_LOG_FILE=/var/log/supervisor/xray.out.log
XRAY_LOG_PATH=/var/log/xray/access.log
LOG_LEVEL=INFO
HEARTBEAT_INTERVAL=21600 # 6 hours
